Repository julianburr/lightkeepr: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

fix: fix
  yarn.lock
Due: none

fix: fix linting and ts issues
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
  .github/workflows/pr-packages.yml
  app/next-env.d.ts
  app/next.config.js
  app/package.json
  app/pages/_app.tsx
  app/pages/api/ping.ts
  app/pages/api/reports/[reportId].ts
  app/pages/api/stripe/customers/[customerId]/checkout/create.ts
  app/pages/api/stripe/customers/[customerId]/index.ts
  app/pages/api/stripe/customers/[customerId]/invoices.ts
  app/pages/api/stripe/customers/create.ts
  app/src/@packages/firebase/auth/index.tsx
  app/src/@packages/firebase/firestore/collection.ts
  app/src/@packages/firebase/firestore/context.tsx
  app/src/@packages/firebase/firestore/document.ts
  app/src/@packages/firebase/index.tsx
  app/src/utils/api-client.ts
  app/src/utils/suspense.tsx
  app/tsconfig.json
  app/tsconfig.tsbuildinfo
  packages/.eslintignore
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/report.ts
  packages/cli/src/index.ts
  packages/node/src/index.ts
  packages/package.json
  packages/parcel.mjs
  packages/tsconfig.json
  packages/yarn.lock
  yarn.lock
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

fix: fix workflow errors
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
  .github/workflows/pr-packages.yml
  app/pages/_app.tsx
  app/pages/index.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/pages/index.tsx
  package.json
  packages/package.json
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

ci: fix 1
  .github/workflows/main-app.yml
  package.json
  packages/package.json
Due: prettier --write

ci: fix 2
  .github/workflows/pr-app.yml
Due: prettier --write

ci: fix 3
  .github/workflows/pr-packages.yml
Due: prettier --write

ci: fix 4
  packages/yarn.lock
  yarn.lock
Due: none

ci: fix 5
  packages/package.json
Due: prettier --write

ci: fix 5.2
  yarn.lock
Due: none

ci: fix 5.3
  .gitignore
Due: none

chore: continue
  app/next.config.js
  app/pages/app/setup/organisation.tsx
  app/pages/app/setup/user.tsx
  app/pages/sign-in.tsx
  app/src/components/button/index.tsx
  app/src/components/field.tsx
  app/src/components/form.tsx
  app/src/components/readonly-input.tsx
  app/src/components/top-bar.tsx
  app/src/theme/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

ci: fix ci 1
  app/pages/sign-in.tsx
  app/src/components/button/index.tsx
  app/src/components/text-input.tsx
Due: yarn --cwd ./app lint --fix --quiet

ci: fix ci 2
  .github/workflows/pr-app.yml
  app/pages/app/[orgUserId]/account-settings.tsx
  app/pages/app/[orgUserId]/index.tsx
  app/pages/app/[orgUserId]/project/[projectId]/index.tsx
  app/pages/app/[orgUserId]/settings.tsx
  app/src/components/top-bar.tsx
  app/src/layouts/app.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

ci: fix ci 3
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
Due: prettier --write

feat: add action menu
  app/tsconfig.tsbuildinfo
Due: none

feat: add dialog component
  app/dialogs/invite-user.tsx
  app/package.json
  app/pages/_app.tsx
  app/pages/app/[orgUserId]/users.tsx
  app/src/components/auth.tsx
  app/src/components/button-bar.tsx
  app/src/components/dialog.tsx
  app/src/components/popout-menu/heading-item.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/popouts/account.tsx
  app/src/components/select-input.tsx
  app/src/components/tooltip.tsx
  app/src/components/top-bar.tsx
  app/src/hooks/use-auth-user.ts
  app/src/hooks/use-dialog.tsx
  app/src/layouts/setup.tsx
  app/tsconfig.tsbuildinfo
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add basic select
  app/dialogs/invite-user.tsx
  app/pages/api/stripe/customers/create.ts
  app/pages/app/[orgUserId]/users.tsx
  app/pages/app/setup/organisation.tsx
  app/pages/sign-in.tsx
  app/src/@packages/firebase/auth/index.tsx
  app/src/components/action-menu.tsx
  app/src/components/dialog.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/popout.tsx
  app/src/components/select-input.tsx
  app/src/hooks/use-dialog.tsx
  app/tsconfig.tsbuildinfo
Due: yarn --cwd ./app lint --fix --quiet

fix: fix build issues
  app/dialogs/invite-user.tsx
  app/pages/app/[orgUserId]/users.tsx
  app/pages/app/setup/organisation.tsx
  app/pages/app/setup/user.tsx
  app/pages/sign-in.tsx
  app/src/components/top-bar.tsx
  app/src/hooks/use-auth-user.ts
Due: yarn --cwd ./app lint --fix --quiet

feat: start setup for projects views
  app/package.json
  app/pages/_app.tsx
  app/pages/app/[teamId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/integrations.tsx
  app/pages/app/[teamId]/projects/[projectId]/run/[runId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/app/[teamId]/users/index.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/pending-invites.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/src/components/action-button.tsx
  app/src/components/auth.tsx
  app/src/components/avatar.tsx
  app/src/components/back-link.tsx
  app/src/components/button.tsx
  app/src/components/field.tsx
  app/src/components/form.tsx
  app/src/components/list.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/select-input.tsx
  app/src/components/sidebar.tsx
  app/src/components/status-avatar.tsx
  app/src/components/tag.tsx
  app/src/components/text-input.tsx
  app/src/components/top-bar.tsx
  app/src/hooks/use-auth-user.ts
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
  app/src/list-items/user.tsx
  app/src/theme/index.tsx
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: continue
  app/pages/_app.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/integrations.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/src/components/back-link.tsx
  app/src/components/list.tsx
  app/src/components/loader.tsx
  app/src/components/readonly-input.tsx
  app/src/components/sidebar.tsx
  app/src/components/status-avatar.tsx
  app/src/components/toast.tsx
  app/src/hooks/use-toast.tsx
  app/src/layouts/app.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
Due: yarn --cwd ./app lint --fix --quiet

feat: start design token setup
  app/package.json
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/pages/sign-in.tsx
  app/src/@packages/sol/colors.ts
  app/src/@packages/sol/tokens.ts
  app/src/components/action-button.tsx
  app/src/components/action-menu.tsx
  app/src/components/button.tsx
  app/src/components/dialog.tsx
  app/src/components/field.tsx
  app/src/components/menu.tsx
  app/src/components/text-input.tsx
  app/src/components/toast.tsx
  app/src/components/top-bar.tsx
  app/src/hooks/use-toast.tsx
  app/src/list-items/invoice.tsx
  app/src/list-items/user.tsx
  app/src/theme/index.tsx
  app/src/theme/tokens.ts
  app/tsconfig.tsbuildinfo
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/src/@packages/sol/tokens.ts
Due: yarn --cwd ./app lint --fix --quiet

feat: continue
  app/pages/app/[teamId]/index.tsx
  app/src/assets/favicon.png
  app/src/components/avatar.tsx
  app/src/components/list.tsx
  app/src/components/menu.tsx
  app/src/components/mjml/button.tsx
  app/src/layouts/email.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
  app/src/list-items/user.tsx
  app/src/theme/tokens.ts
Due: yarn --cwd ./app lint --fix --quiet

Start design token setup (#22)
  app/package.json
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/pages/sign-in.tsx
  app/src/@packages/sol/colors.ts
  app/src/@packages/sol/tokens.ts
  app/src/assets/favicon.png
  app/src/components/action-button.tsx
  app/src/components/action-menu.tsx
  app/src/components/avatar.tsx
  app/src/components/button.tsx
  app/src/components/dialog.tsx
  app/src/components/field.tsx
  app/src/components/list.tsx
  app/src/components/menu.tsx
  app/src/components/mjml/button.tsx
  app/src/components/text-input.tsx
  app/src/components/toast.tsx
  app/src/components/top-bar.tsx
  app/src/hooks/use-toast.tsx
  app/src/layouts/email.tsx
  app/src/list-items/invoice.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
  app/src/list-items/user.tsx
  app/src/theme/index.tsx
  app/src/theme/tokens.ts
  app/tsconfig.tsbuildinfo
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: misc adjustments and tweaks
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/src/action-menus/account.tsx
  app/src/assets/favicon.png
  app/src/components/list.tsx
  app/src/components/sidebar.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
Due: yarn --cwd ./app lint --fix --quiet

fix
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/setup/email-verification.tsx
  app/src/@packages/firebase/auth/index.tsx
  app/src/components/auth.tsx
  app/src/components/top-bar.tsx
  app/src/hooks/use-auth-user.ts
  app/src/list-items/user.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: update node and cli packages and add run api endpoints
  app/package.json
  app/pages/api/reports/[reportId].ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/setup/team.tsx
  app/src/components/code-preview.tsx
  app/src/components/help-box.tsx
  app/src/components/sidebar.tsx
  app/src/utils/api-token.ts
  package.json
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/report.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/stop.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/env.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/report.ts
  packages/node/src/start-run.ts
  packages/node/src/stop-run.ts
  packages/node/src/user-flow.ts
  packages/node/src/utils/clean-report-data.ts
  packages/node/src/utils/constants.ts
  packages/node/src/utils/create-report.ts
  packages/package.json
  packages/parcel.mjs
  yarn.lock
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

fix: fix issues
  app/pages/api/reports/[reportId].ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/run/[runId]/index.tsx
  app/src/components/status-avatar.tsx
  app/src/components/value.tsx
  app/src/list-items/run.tsx
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/report.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/stop.ts
  packages/node/src/report.ts
  packages/node/src/start-run.ts
  packages/node/src/stop-run.ts
  packages/node/src/user-flow.ts
  packages/node/src/utils/create-report.ts
  packages/tmp--5399c948-d0b9-40c9-9738-7d974d625486.brotli
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

feat: continue
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/reports/[reportId]/index.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: continue report details
  app/dialogs/report-audit.tsx
  app/package.json
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/reports/[reportId]/index.tsx
  app/src/components/accordion.tsx
  app/src/components/dialog.tsx
  app/src/components/report-details.tsx
  app/src/layouts/app.tsx
  app/src/list-items/report-audit.tsx
  app/src/theme/index.tsx
  packages/cli/package.json
  packages/node/package.json
  packages/node/src/report.ts
  packages/node/src/start-run.ts
  packages/node/src/stop-run.ts
  packages/node/src/user-flow.ts
  yarn.lock
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

Path conditions:
  yarn --cwd ./packages lint --fix --quiet: any of: packages/**/*.{js,ts,tsx}
  yarn --cwd ./app lint --fix --quiet: any of: app/**/*.{js,ts,tsx}
  prettier --write: any of: **/*.{md,json,yml}
