Repository julianburr/lightkeepr: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

.lintstagedrc:

{
  "packages/**/*.{js,ts,tsx}": "yarn --cwd ./packages lint --fix --quiet",
  "app/**/*.{js,ts,tsx}": "yarn --cwd ./app lint --fix --quiet",
  "**/*.{md,json,yml}": "prettier --write"
}

fix: remove performance measures from homepage
  app/pages/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/pages/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

Add report overview (#31)
  .gitignore
  app/dialogs/report-audit.tsx
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/index.tsx
  app/src/components/hint.tsx
  app/src/components/list.tsx
  app/src/components/report-details.tsx
  app/src/components/report-summary/budgets.tsx
  app/src/components/report-summary/index.tsx
  app/src/components/report-summary/network.tsx
  app/src/components/report-summary/opportunities.tsx
  app/src/components/report-summary/performance.tsx
  app/src/components/report-summary/scores.tsx
  app/src/components/report-summary/user-timings.tsx
  app/src/components/text.tsx
  app/src/components/tooltip.tsx
  app/src/components/trend.tsx
  app/src/layouts/app.tsx
  app/src/layouts/docs.tsx
  app/src/list-items/budget.tsx
  app/src/list-items/opportunity.tsx
  app/src/list-items/regression.tsx
  app/src/list-items/report-audit.tsx
  app/src/sidebars/app/report.tsx
  app/src/sidebars/app/run.tsx
  app/src/theme/index.tsx
  app/src/utils/audits.ts
  app/src/utils/format.ts
  app/src/utils/regressions.ts
  app/tsconfig.tsbuildinfo
  packages/node/src/report.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

feat: misc summary refactors
  app/pages/_app.tsx
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/components/button-bar.tsx
  app/src/components/button.tsx
  app/src/components/list.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/report-details.tsx
  app/src/components/report-summary/index.tsx
  app/src/components/report-summary/scores.tsx
  app/src/components/status-avatar.tsx
  app/src/components/text.tsx
  app/src/hooks/use-auto-save-form.ts
  app/src/hooks/use-run-filters.ts
  app/src/layouts/app.tsx
  app/src/list-items/budget.tsx
  app/src/list-items/opportunity.tsx
  app/src/list-items/page.tsx
  app/src/list-items/regression.tsx
  app/src/list-items/report-audit.tsx
  app/src/list-items/report.tsx
  app/src/sidebars/app/base.tsx
  app/src/sidebars/app/report.tsx
  app/src/sidebars/app/run.tsx
  app/src/utils/format.ts
  app/src/utils/regressions.ts
  packages/node/package.json
  packages/node/src/report.ts
  packages/node/src/utils/create-report.ts
  yarn.lock
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

fix: add error boundaries and fix some loading states
  app/pages/_app.tsx
  app/pages/app/[teamId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/@packages/firebase/firestore/context.tsx
  app/src/@packages/firebase/firestore/document.ts
  app/src/assets/illustrations/jellyfish.svg
  app/src/components/button.tsx
  app/src/components/dialog.tsx
  app/src/components/error-boundary.tsx
  app/src/hooks/use-dialog.tsx
  app/src/layouts/app.tsx
  app/src/sidebars/app/index.tsx
  app/src/theme/tokens.ts
Due: yarn --cwd ./app lint --fix --quiet

fix: ts issues
  app/src/components/report-audit/cell/url.tsx
  packages/node/src/utils/create-report.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

feat: add run and report deletion
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/setup/pending-invites.tsx
  app/src/components/action-menu.tsx
  app/src/components/button.tsx
  app/src/components/error-boundary.tsx
  app/src/components/list.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/split-button.tsx
  app/src/components/status-avatar.tsx
  app/src/sidebars/app/run.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: ts issues
  app/src/components/error-boundary.tsx
  app/src/sidebars/app/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: add approval process
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/@packages/firebase/firestore/collection.ts
  app/src/components/range-input.tsx
  app/src/components/status-avatar.tsx
  app/src/list-items/page.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/hooks/use-auto-save-form.ts
  app/src/list-items/project.tsx
Due: yarn --cwd ./app lint --fix --quiet

Add approval process (#33)
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/@packages/firebase/firestore/collection.ts
  app/src/components/range-input.tsx
  app/src/components/status-avatar.tsx
  app/src/hooks/use-auto-save-form.ts
  app/src/list-items/page.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: refactor user structure for firestore security roles
  app/emails/invite-user.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/email/preview.tsx
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/[teamId]/users/index.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/pending-invites.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/src/@packages/firebase/firestore/context.tsx
  app/src/@packages/firebase/firestore/document.ts
  app/src/action-menus/account.tsx
  app/src/components/action-menu.tsx
  app/src/components/auth.tsx
  app/src/components/error-boundary.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/hooks/use-auth-user.ts
  app/src/list-items/invite.tsx
  app/src/list-items/user.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/components/split-button.tsx
Due: yarn --cwd ./app lint --fix --quiet

Refactor user structure for firestore security roles (#34)
  app/emails/invite-user.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/email/preview.tsx
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/[teamId]/users/index.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/pending-invites.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/src/@packages/firebase/firestore/context.tsx
  app/src/@packages/firebase/firestore/document.ts
  app/src/action-menus/account.tsx
  app/src/components/action-menu.tsx
  app/src/components/auth.tsx
  app/src/components/error-boundary.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/split-button.tsx
  app/src/hooks/use-auth-user.ts
  app/src/list-items/invite.tsx
  app/src/list-items/user.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: add plan selection to team setup
  app/pages/_app.tsx
  app/pages/api/account/verify-email/send.tsx
  app/pages/api/stripe/customers/[customerId]/subscriptions/session.ts
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/team.tsx
  app/pages/auth/sign-in.tsx
  app/src/components/auth.tsx
  app/src/components/plan-select-input.tsx
  app/src/env.ts
  app/src/utils/api-client.ts
  app/src/utils/regressions.ts
Due: yarn --cwd ./app lint --fix --quiet

Add plan selection to team setup (#36)
  app/pages/_app.tsx
  app/pages/api/account/verify-email/send.tsx
  app/pages/api/stripe/customers/[customerId]/subscriptions/session.ts
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/setup/email-verification.tsx
  app/pages/app/setup/team.tsx
  app/pages/auth/sign-in.tsx
  app/src/components/auth.tsx
  app/src/components/plan-select-input.tsx
  app/src/env.ts
  app/src/utils/api-client.ts
  app/src/utils/regressions.ts
Due: yarn --cwd ./app lint --fix --quiet

feat: start setup for notifications logic
  app/pages/app/[teamId]/account/notifications.tsx
  app/src/@packages/firebase/firestore/collection.ts
  app/src/components/avatar.tsx
  app/src/components/badge.tsx
  app/src/components/button.tsx
  app/src/components/code-preview.tsx
  app/src/components/list.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/popout.tsx
  app/src/layouts/app.tsx
  app/src/list-items/notification.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/app/base.tsx
  app/src/theme/index.tsx
  app/src/theme/tokens.ts
  app/src/utils/notifications.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: add subscriptions and notifications list
  app/pages/_app.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/account/verify-email/send.tsx
  app/pages/api/runs/[runId]/report.ts
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/components/project/actions.tsx
  app/src/components/report/actions.tsx
  app/src/components/report/status.tsx
  app/src/components/split-button.tsx
  app/src/hooks/use-auth-user.ts
  app/src/hooks/use-toast.tsx
  app/src/list-items/notification.tsx
  app/src/popouts/notifications.tsx
Due: yarn --cwd ./app lint --fix --quiet

Start setup for notifications logic (#38)
  app/pages/_app.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/account/verify-email/send.tsx
  app/pages/api/runs/[runId]/report.ts
  app/pages/app/[teamId]/account/notifications.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/@packages/firebase/firestore/collection.ts
  app/src/components/avatar.tsx
  app/src/components/badge.tsx
  app/src/components/button.tsx
  app/src/components/code-preview.tsx
  app/src/components/list.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/popout.tsx
  app/src/components/project/actions.tsx
  app/src/components/report/actions.tsx
  app/src/components/report/status.tsx
  app/src/components/split-button.tsx
  app/src/hooks/use-auth-user.ts
  app/src/hooks/use-toast.tsx
  app/src/layouts/app.tsx
  app/src/list-items/notification.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/app/base.tsx
  app/src/theme/index.tsx
  app/src/theme/tokens.ts
  app/src/utils/notifications.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: adjust website copy
  app/pages/index.tsx
  app/src/components/homepage/hero.tsx
  app/src/layouts/website.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: some more adjustments
  app/pages/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

Adjust website copy (#39)
  app/pages/index.tsx
  app/src/components/homepage/hero.tsx
  app/src/layouts/website.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: add forgot and reset password functionality
  app/pages/api/account/forgot-password.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/account/reset-password.ts
  app/pages/api/account/verify-email/send.tsx
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/auth/forgot-password.tsx
  app/pages/auth/reset-password.tsx
  app/pages/auth/sign-in.tsx
  app/src/components/field.tsx
  app/src/dialogs/account/update-password.tsx
  app/src/emails/forgot-password-third-party.tsx
  app/src/emails/forgot-password.tsx
  app/src/utils/api-client.ts
  app/src/utils/api-token.ts
  app/src/utils/node/firebase.ts
  app/src/utils/token.ts
Due: yarn --cwd ./app lint --fix --quiet

fix: hide pasdsword update for 3rd party auth
  app/pages/app/[teamId]/account/settings.tsx
Due: yarn --cwd ./app lint --fix --quiet

Add forgot and reset password functionality (#40)
  app/pages/api/account/forgot-password.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/account/reset-password.ts
  app/pages/api/account/verify-email/send.tsx
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/auth/forgot-password.tsx
  app/pages/auth/reset-password.tsx
  app/pages/auth/sign-in.tsx
  app/src/components/field.tsx
  app/src/dialogs/account/update-password.tsx
  app/src/emails/forgot-password-third-party.tsx
  app/src/emails/forgot-password.tsx
  app/src/utils/api-client.ts
  app/src/utils/api-token.ts
  app/src/utils/node/firebase.ts
  app/src/utils/token.ts
Due: yarn --cwd ./app lint --fix --quiet

feat: add cleanup endpoint and daily cron
  .github/workflows/main-cron-daily.yml
  app/.eslintrc.json
  app/pages/api/account/cleanup.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix: fix main scroll
  app/src/layouts/app.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/pages/api/runs/[runId]/report.ts
Due: yarn --cwd ./app lint --fix --quiet

Add cleanup endpoint and daily cron (#41)
  .github/workflows/main-cron-daily.yml
  app/.eslintrc.json
  app/pages/api/account/cleanup.tsx
  app/pages/api/runs/[runId]/report.ts
  app/src/layouts/app.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix: fix cleanup cronjob
  app/src/utils/node/firebase.ts
Due: yarn --cwd ./app lint --fix --quiet

Fix cleanup cronjob (#42)
  app/src/utils/node/firebase.ts
Due: yarn --cwd ./app lint --fix --quiet

fix
  .github/workflows/main-app.yml
  app/pages/api/account/cleanup.tsx
  app/pages/api/reports/[reportId].ts
  app/pages/api/runs/[runId]/report.ts
  app/src/env.ts
  app/src/utils/node/firebase.ts
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix 2
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
Due: prettier --write

fix 3
  .github/workflows/main-app.yml
Due: prettier --write

fix
  .github/workflows/main-app.yml
Due: prettier --write
