Repository julianburr/lightkeepr: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

.lintstagedrc:

{
  "packages/**/*.{js,ts,tsx}": "yarn --cwd ./packages lint --fix --quiet",
  "app/**/*.{js,ts,tsx}": "yarn --cwd ./app lint --fix --quiet",
  "**/*.{md,json,yml}": "prettier --write"
}

fix
  packages/node/src/utils/create-report.ts
Due: yarn --cwd ./packages lint --fix --quiet

fix
  packages/node/package.json
  yarn.lock
Due: prettier --write

fix
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/reports/[reportId]/index.tsx
  app/src/components/dialog.tsx
  app/src/list-items/report.tsx
  packages/node/src/report.ts
  packages/node/src/start-run.ts
  packages/node/src/stop-run.ts
  packages/node/src/user-flow.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

fix
  packages/node/src/report.ts
  packages/node/src/start-run.ts
  packages/node/src/stop-run.ts
  packages/node/src/user-flow.ts
Due: yarn --cwd ./packages lint --fix --quiet

fix: fix typo in bin name
  packages/cli/package.json
Due: prettier --write

fix
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/reports/[reportId]/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/tmp--5399c948-d0b9-40c9-9738-7d974d625486.brotli
Due: yarn --cwd ./packages lint --fix --quiet, prettier --write

feat: finish basic report details page
  app/dialogs/report-audit.tsx
  app/package.json
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/runs/[runId]/reports/[reportId]/index.tsx
  app/src/components/dialog.tsx
  app/src/components/markdown.tsx
  app/src/components/report-audit/cell/bytes.tsx
  app/src/components/report-audit/cell/link.tsx
  app/src/components/report-audit/cell/ms.tsx
  app/src/components/report-audit/cell/node.tsx
  app/src/components/report-audit/cell/numeric.tsx
  app/src/components/report-audit/cell/source-location.tsx
  app/src/components/report-audit/cell/text.tsx
  app/src/components/report-audit/cell/url.tsx
  app/src/components/report-audit/hint.tsx
  app/src/components/report-audit/table.tsx
  app/src/components/report-details.tsx
  app/src/components/tooltip.tsx
  app/src/list-items/report-audit.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
  package.json
  packages/cli/src/commands/exec.ts
  packages/cli/src/commands/report.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/stop.ts
  yarn.lock
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

fix: fix formatting issue
  app/src/components/report-audit/cell/bytes.tsx
  app/src/components/report-audit/cell/ms.tsx
  app/src/components/report-audit/cell/numeric.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: misc
  app/src/components/accordion.tsx
  packages/cli/package.json
  packages/node/package.json
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  packages/cli/package.json
Due: prettier --write

feat: add memory cache to reduce storage reads
  app/package.json
  app/pages/api/reports/[reportId].ts
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  .github/workflows/main-packages.yml
  yarn.lock
Due: prettier --write

Add memory cache (#24)
  .github/workflows/main-packages.yml
  app/package.json
  app/pages/api/reports/[reportId].ts
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: start sidebar refactor
  app/pages/app/[teamId]/projects/[projectId]/integrations.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/pages/app/[teamId]/users/new.tsx
  app/src/action-menus/account.tsx
  app/src/components/back-link.tsx
  app/src/components/label.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/heading-item.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/popout.tsx
  app/src/components/sidebar.tsx
  app/src/components/sidebar/base.tsx
  app/src/components/sidebar/index.tsx
  app/src/components/sidebar/project.tsx
  app/src/components/sidebar/report.tsx
  app/src/components/sidebar/run.tsx
  app/src/components/text.tsx
  app/src/components/tooltip.tsx
  app/src/hooks/use-sidebar-state.ts
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
Due: yarn --cwd ./app lint --fix --quiet

fix: attempt to fix production deployment issue
  app/next.config.js
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/src/components/text.tsx
  app/src/list-items/project.tsx
  app/src/theme/index.tsx
  packages/node/src/start-run.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

chore: update deps
  app/package.json
  yarn.lock
Due: prettier --write

feat: finish new sidebar
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/index.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/pages/app/[teamId]/users/index.tsx
  app/src/assets/favicon.png
  app/src/components/menu.tsx
  app/src/components/meta.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/sidebar/index.tsx
  app/src/components/sidebar/report.tsx
  app/src/components/sidebar/run.tsx
  app/src/components/text.tsx
  app/src/components/value.tsx
  app/src/layouts/app.tsx
  app/tsconfig.tsbuildinfo
  packages/cli/src/commands/start.ts
  packages/node/src/start-run.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

feat: add mobile sidebar behaviour
  app/src/components/menu.tsx
  app/src/components/sidebar/base.tsx
  app/src/components/sidebar/index.tsx
  app/src/components/sidebar/project.tsx
  app/src/components/sidebar/report.tsx
  app/src/components/sidebar/run.tsx
  app/src/hooks/use-sidebar-link-state.ts
Due: yarn --cwd ./app lint --fix --quiet

Sidebar refactor (#25)
  app/next.config.js
  app/package.json
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/integrations.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/pages/app/[teamId]/users/index.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/src/action-menus/account.tsx
  app/src/assets/favicon.png
  app/src/components/back-link.tsx
  app/src/components/label.tsx
  app/src/components/menu.tsx
  app/src/components/meta.tsx
  app/src/components/popout-menu/heading-item.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/popout.tsx
  app/src/components/sidebar.tsx
  app/src/components/sidebar/base.tsx
  app/src/components/sidebar/index.tsx
  app/src/components/sidebar/project.tsx
  app/src/components/sidebar/report.tsx
  app/src/components/sidebar/run.tsx
  app/src/components/text.tsx
  app/src/components/tooltip.tsx
  app/src/components/value.tsx
  app/src/hooks/use-sidebar-link-state.ts
  app/src/hooks/use-sidebar-state.ts
  app/src/layouts/app.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/list-items/run.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
  packages/cli/src/commands/start.ts
  packages/node/src/start-run.ts
  yarn.lock
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

chore: bump packages
  packages/cli/package.json
  packages/node/package.json
Due: prettier --write

Bump packages (#26)
  packages/cli/package.json
  packages/node/package.json
Due: prettier --write

ci: adjust canary package release
  package.json
  patches/@lerna+publish+4.0.0.patch
Due: prettier --write

chore: add descriptions
  packages/cli/package.json
  packages/node/package.json
Due: prettier --write

Adjust canary package release (#27)
  package.json
  packages/cli/package.json
  packages/node/package.json
  patches/@lerna+publish+4.0.0.patch
Due: prettier --write

feat: add budget settings
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/pages/sign-in.tsx
  app/src/components/checkbox-input.tsx
  app/src/components/field.tsx
  app/src/components/form-grid.tsx
  app/src/components/form.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/range-input.tsx
  app/src/components/select-input.tsx
  app/src/components/status-avatar.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
  packages/cli/src/commands/start.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

Add budget settings (#28)
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/app/[teamId]/account/settings.tsx
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/projects/new.tsx
  app/pages/app/[teamId]/settings.tsx
  app/pages/app/[teamId]/users/new.tsx
  app/pages/app/setup/team.tsx
  app/pages/app/setup/user.tsx
  app/pages/sign-in.tsx
  app/src/components/checkbox-input.tsx
  app/src/components/field.tsx
  app/src/components/form-grid.tsx
  app/src/components/form.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/index.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/range-input.tsx
  app/src/components/select-input.tsx
  app/src/components/status-avatar.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
  packages/cli/src/commands/start.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

feat: add mobile menu + misc fixes
  app/pages/index.tsx
  app/src/components/homepage/hero.tsx
  app/src/hooks/use-sidebar-link-state.ts
  app/src/hooks/use-sidebar-state.ts
  app/src/layouts/app.tsx
  app/src/layouts/website.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: allow static rendering for website and docs as far as possible
  app/.babelrc
  app/pages/_app.tsx
  app/pages/_document.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/[teamId]/index.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/pages/app/[teamId]/users/index.tsx
  app/pages/auth/sign-in.tsx
  app/pages/auth/sign-up.tsx
  app/pages/docs/[...slug].tsx
  app/pages/index.tsx
  app/pages/pricing.tsx
  app/src/components/auth.tsx
  app/src/components/code-preview.tsx
  app/src/components/suspense.tsx
  app/src/layouts/app.tsx
  app/src/layouts/docs.tsx
  app/src/layouts/setup.tsx
  app/src/layouts/website.tsx
  app/src/sidebars/app/index.tsx
  app/src/sidebars/app/report.tsx
  app/src/sidebars/docs.tsx
  app/src/theme/index.tsx
  app/tsconfig.tsbuildinfo
Due: yarn --cwd ./app lint --fix --quiet

fix: remove smooth scroll behaviour for now since it causes weird side effects
  app/src/theme/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: add report overview page
  app/dialogs/report-audit.tsx
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/components/hint.tsx
  app/src/components/report-details.tsx
  app/src/components/report-summary/index.tsx
  app/src/components/report-summary/network.tsx
  app/src/components/report-summary/opportunities.tsx
  app/src/components/report-summary/performance.tsx
  app/src/components/report-summary/scores.tsx
  app/src/components/report-summary/user-timings.tsx
  app/src/components/text.tsx
  app/src/components/tooltip.tsx
  app/src/components/trend.tsx
  app/src/layouts/app.tsx
  app/src/layouts/docs.tsx
  app/src/list-items/opportunity.tsx
  app/src/list-items/regression.tsx
  app/src/list-items/report-audit.tsx
  app/src/sidebars/app/report.tsx
  app/src/theme/index.tsx
  app/src/utils/audits.ts
  app/src/utils/format.ts
  app/src/utils/regressions.ts
Due: yarn --cwd ./app lint --fix --quiet

fix
  .gitignore
  app/tsconfig.tsbuildinfo
Due: none

fix
  .gitignore
Due: none

feat: add budgets and trend settings
  .gitignore
  app/pages/api/runs/[runId]/report.ts
  app/pages/app/[teamId]/projects/[projectId]/settings.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/src/components/list.tsx
  app/src/components/report-details.tsx
  app/src/components/report-summary/budgets.tsx
  app/src/components/report-summary/index.tsx
  app/src/components/report-summary/network.tsx
  app/src/components/report-summary/performance.tsx
  app/src/components/report-summary/scores.tsx
  app/src/list-items/budget.tsx
  app/src/sidebars/app/report.tsx
  app/src/sidebars/app/run.tsx
  app/src/utils/audits.ts
  packages/node/src/report.ts
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

fix: fix regression detection
  app/pages/api/runs/[runId]/report.ts
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/index.tsx
  app/src/components/report-summary/performance.tsx
  app/src/components/report-summary/user-timings.tsx
  app/src/list-items/budget.tsx
  app/src/list-items/regression.tsx
  app/src/utils/regressions.ts
Due: yarn --cwd ./app lint --fix --quiet
