Repository julianburr/lightkeepr: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

.lintstagedrc:

{
  "packages/**/*.{js,ts,tsx}": "yarn --cwd ./packages lint --fix --quiet",
  "app/**/*.{js,ts,tsx}": "yarn --cwd ./app lint --fix --quiet",
  "**/*.{md,json,yml}": "prettier --write"
}

fix: adjust cleanup workflow
  .github/workflows/main-cron-daily.yml
Due: prettier --write

fix: further fixes
  .github/workflows/main-cron-daily.yml
  app/pages/api/account/cleanup.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  .github/workflows/main-cron-daily.yml
Due: prettier --write

fix 2
  app/pages/api/account/cleanup.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix 3
  .github/workflows/main-cron-daily.yml
Due: prettier --write

Fix cleanup (#54)
  .github/workflows/main-cron-daily.yml
  app/pages/api/account/cleanup.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add plan specific restrictions around retention
  .github/workflows/main-app.yml
  .github/workflows/main-cron-daily.yml
  .github/workflows/pr-app.yml
  app/pages/api/cleanup/records.ts
  app/pages/api/cleanup/subscriptions.ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/api/stripe/customers/create.ts
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/setup/team.tsx
  app/pages/docs/index.tsx
  app/pages/pricing.tsx
  app/src/dialogs/account/upgrade.tsx
  app/src/env.ts
  app/src/hooks/use-auth-user.ts
  app/src/layouts/docs.tsx
  app/src/sidebars/app/base.tsx
  app/src/sidebars/docs.tsx
  app/src/utils/node/api.ts
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/src/assets/illustrations/seaweed.svg
  app/src/assets/illustrations/treasure.svg
  app/src/components/comments-button.tsx
  app/src/components/dialog.tsx
  app/src/dialogs/account/upgrade.tsx
Due: yarn --cwd ./app lint --fix --quiet

Add plan specific restrictions (#55)
  .github/workflows/main-app.yml
  .github/workflows/main-cron-daily.yml
  .github/workflows/pr-app.yml
  app/pages/api/cleanup/records.ts
  app/pages/api/cleanup/subscriptions.ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/api/stripe/customers/create.ts
  app/pages/app/[teamId]/account/teams/new.tsx
  app/pages/app/[teamId]/billing.tsx
  app/pages/app/setup/team.tsx
  app/pages/docs/index.tsx
  app/pages/pricing.tsx
  app/src/assets/illustrations/seaweed.svg
  app/src/assets/illustrations/treasure.svg
  app/src/components/comments-button.tsx
  app/src/components/dialog.tsx
  app/src/dialogs/account/upgrade.tsx
  app/src/env.ts
  app/src/hooks/use-auth-user.ts
  app/src/layouts/docs.tsx
  app/src/sidebars/app/base.tsx
  app/src/sidebars/docs.tsx
  app/src/utils/node/api.ts
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add global search to docs
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
  app/package.json
  app/pages/api/search/docs.ts
  app/pages/docs/[...slug].tsx
  app/src/components/button.tsx
  app/src/components/global-search.tsx
  app/src/components/list.tsx
  app/src/components/text-input.tsx
  app/src/env.ts
  app/src/layouts/app.tsx
  app/src/layouts/docs.tsx
  app/src/list-items/search-result.tsx
  app/src/utils/node/search/base.ts
  app/src/utils/node/search/docs.ts
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/pages/docs/[...slug].tsx
  app/src/utils/node/search/docs.ts
Due: yarn --cwd ./app lint --fix --quiet

Add global search to docs (#56)
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
  app/package.json
  app/pages/api/search/docs.ts
  app/pages/docs/[...slug].tsx
  app/src/components/button.tsx
  app/src/components/global-search.tsx
  app/src/components/list.tsx
  app/src/components/text-input.tsx
  app/src/env.ts
  app/src/layouts/app.tsx
  app/src/layouts/docs.tsx
  app/src/list-items/search-result.tsx
  app/src/utils/node/search/base.ts
  app/src/utils/node/search/docs.ts
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add rate limiting
  app/pages/api/cleanup/records.ts
  app/pages/api/cleanup/subscriptions.ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/api/search/docs.ts
  app/src/utils/node/api.ts
  app/src/utils/node/api/index.ts
  app/src/utils/node/api/with-bearer-token.ts
  app/src/utils/node/api/with-project-token.ts
  app/src/utils/node/api/with-team-token.ts
Due: yarn --cwd ./app lint --fix --quiet

Add rate limiting (#57)
  app/pages/api/cleanup/records.ts
  app/pages/api/cleanup/subscriptions.ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/api/search/docs.ts
  app/src/utils/node/api.ts
  app/src/utils/node/api/index.ts
  app/src/utils/node/api/with-bearer-token.ts
  app/src/utils/node/api/with-project-token.ts
  app/src/utils/node/api/with-team-token.ts
Due: yarn --cwd ./app lint --fix --quiet

feat: add team deletion
  app/pages/_app.tsx
  app/pages/api/account/archive.ts
  app/pages/api/account/forgot-password.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/account/reset-password.ts
  app/pages/api/account/verify-email/index.tsx
  app/pages/api/account/verify-email/send.tsx
  app/pages/api/cleanup/records.ts
  app/pages/api/cleanup/subscriptions.ts
  app/pages/api/notifications/create.ts
  app/pages/api/reports/[reportId].ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/stripe/customers/[customerId]/index.ts
  app/pages/api/stripe/customers/[customerId]/invoices.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/cancel.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/session.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/uncancel.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/update-plan.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/session.ts
  app/pages/api/stripe/customers/[customerId]/update.ts
  app/pages/api/stripe/customers/create.ts
  app/pages/app/[teamId]/settings.tsx
  app/src/@packages/firebase/auth/index.tsx
  app/src/components/auth.tsx
  app/src/hooks/use-api.ts
  app/src/hooks/use-auth-user.ts
  app/src/layouts/app.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/app/base.tsx
  app/src/utils/api-client.ts
  app/src/utils/node/api/with-bearer-token.ts
  app/src/utils/node/api/with-team-token.ts
  app/src/utils/node/api/with-user-token.ts
  app/support/svgo.js
Due: yarn --cwd ./app lint --fix --quiet

Add team deletion functionality (#59)
  app/pages/_app.tsx
  app/pages/api/account/archive.ts
  app/pages/api/account/forgot-password.tsx
  app/pages/api/account/invite-user.tsx
  app/pages/api/account/reset-password.ts
  app/pages/api/account/verify-email/index.tsx
  app/pages/api/account/verify-email/send.tsx
  app/pages/api/cleanup/records.ts
  app/pages/api/cleanup/subscriptions.ts
  app/pages/api/notifications/create.ts
  app/pages/api/reports/[reportId].ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/stripe/customers/[customerId]/index.ts
  app/pages/api/stripe/customers/[customerId]/invoices.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/cancel.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/session.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/uncancel.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/[subscriptionId]/update-plan.ts
  app/pages/api/stripe/customers/[customerId]/subscriptions/session.ts
  app/pages/api/stripe/customers/[customerId]/update.ts
  app/pages/api/stripe/customers/create.ts
  app/pages/app/[teamId]/settings.tsx
  app/src/@packages/firebase/auth/index.tsx
  app/src/components/auth.tsx
  app/src/hooks/use-api.ts
  app/src/hooks/use-auth-user.ts
  app/src/layouts/app.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/app/base.tsx
  app/src/utils/api-client.ts
  app/src/utils/node/api/with-bearer-token.ts
  app/src/utils/node/api/with-team-token.ts
  app/src/utils/node/api/with-user-token.ts
  app/support/svgo.js
Due: yarn --cwd ./app lint --fix --quiet

fix: adjust changelogs + setup versioning
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
Due: prettier --write

test
  .github/workflows/main-packages.yml
Due: prettier --write

fix: test
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
Due: prettier --write

test
  .github/actions/package-tags/action.yml
  .github/actions/package-tags/index.js
  .github/workflows/main-packages.yml
  packages/.eslintrc.json
Due: prettier --write

test
  .github/actions/package-tags/action.yml
  .github/actions/package-tags/index.js
Due: prettier --write

fix
  package.json
  yarn.lock
Due: prettier --write

fix 2
  .github/actions/package-tags/action.yml
  .github/actions/package-tags/index.js
  .github/workflows/main-packages.yml
Due: prettier --write

fix 3
  .github/actions/package-tags/index.js
Due: none

fix 4
  .github/actions/package-tags/index.js
Due: none

fix 5
  .github/actions/package-tags/action.yml
  .github/actions/package-tags/index.js
Due: prettier --write

fix 6
  .github/actions/package-tags/index.js
Due: none

fix 7
  .github/actions/package-tags/index.js
Due: none

fix 8
  .github/actions/package-tags/index.js
Due: none

fix 9
  .github/actions/package-tags/index.js
Due: none

fix 10
  .github/workflows/main-packages.yml
Due: prettier --write

fix 11
  .github/actions/package-tags/action.yml
Due: prettier --write

Adjust change logs and fix tagging (#61)
  .github/actions/package-tags/action.yml
  .github/actions/package-tags/index.js
  .github/workflows/main-packages.yml
  package.json
  packages/.eslintrc.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  yarn.lock
Due: prettier --write

fix: issues with teams when not logged in
  app/src/hooks/use-auth-user.ts
Due: yarn --cwd ./app lint --fix --quiet

Fix misc issues (#62)
  app/src/hooks/use-auth-user.ts
Due: yarn --cwd ./app lint --fix --quiet
