Repository julianburr/lightkeepr: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet, prettier --write

.lintstagedrc:

{
  "packages/**/*.{js,ts,tsx}": "yarn --cwd ./packages lint --fix --quiet",
  "app/**/*.{js,ts,tsx}": "yarn --cwd ./app lint --fix --quiet",
  "**/*.{md,json,yml}": "prettier --write"
}

Fix main config setup issues (#43)
  .github/workflows/main-app.yml
  .github/workflows/pr-app.yml
  app/pages/api/account/cleanup.tsx
  app/pages/api/reports/[reportId].ts
  app/pages/api/runs/[runId]/report.ts
  app/src/env.ts
  app/src/utils/node/firebase.ts
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add app preview to website
  app/pages/index.tsx
  app/src/components/app-preview.tsx
  app/src/layouts/app.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: add seo meta tags
  app/pages/_app.tsx
  app/pages/index.tsx
  app/src/assets/preview.png
  app/src/components/app-preview.tsx
  app/src/components/seo.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: misc a11y fixes
  app/next.config.js
  app/package.json
  app/pages/index.tsx
  app/src/components/action-menu.tsx
  app/src/components/app-preview.tsx
  app/src/components/copy-button.tsx
  app/src/components/split-button.tsx
  app/src/components/tooltip.tsx
  app/src/layouts/app.tsx
  app/src/layouts/website.tsx
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/src/assets/preview.png
  app/src/components/seo.tsx
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/src/components/seo.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/src/assets/icons/website/add-user.svg
  app/src/assets/icons/website/band-aid.svg
  app/src/assets/icons/website/comet.svg
  app/src/assets/icons/website/dashboard.svg
  app/src/assets/icons/website/divide.svg
  app/src/assets/icons/website/document.svg
  app/src/assets/icons/website/groups.svg
  app/src/assets/icons/website/growth.svg
  app/src/assets/icons/website/law.svg
  app/src/assets/icons/website/magic-wand.svg
  app/src/assets/icons/website/money.svg
  app/src/assets/icons/website/presentation.svg
  app/src/assets/icons/website/read.svg
  app/src/assets/icons/website/snooze.svg
  app/src/assets/icons/website/soul.svg
  app/src/assets/icons/website/tactics.svg
  app/src/assets/illustrations/diving-helmet.svg
  app/src/assets/illustrations/fish.svg
  app/src/assets/illustrations/jellyfish.svg
  app/src/assets/preview.png
Due: none

Add app preview to website (#44)
  app/next.config.js
  app/package.json
  app/pages/_app.tsx
  app/pages/index.tsx
  app/src/assets/icons/website/add-user.svg
  app/src/assets/icons/website/band-aid.svg
  app/src/assets/icons/website/comet.svg
  app/src/assets/icons/website/dashboard.svg
  app/src/assets/icons/website/divide.svg
  app/src/assets/icons/website/document.svg
  app/src/assets/icons/website/groups.svg
  app/src/assets/icons/website/growth.svg
  app/src/assets/icons/website/law.svg
  app/src/assets/icons/website/magic-wand.svg
  app/src/assets/icons/website/money.svg
  app/src/assets/icons/website/presentation.svg
  app/src/assets/icons/website/read.svg
  app/src/assets/icons/website/snooze.svg
  app/src/assets/icons/website/soul.svg
  app/src/assets/icons/website/tactics.svg
  app/src/assets/illustrations/diving-helmet.svg
  app/src/assets/illustrations/fish.svg
  app/src/assets/illustrations/jellyfish.svg
  app/src/assets/preview.png
  app/src/components/action-menu.tsx
  app/src/components/app-preview.tsx
  app/src/components/copy-button.tsx
  app/src/components/seo.tsx
  app/src/components/split-button.tsx
  app/src/components/tooltip.tsx
  app/src/layouts/app.tsx
  app/src/layouts/website.tsx
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/pages/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: document title
  app/pages/_app.tsx
  app/pages/index.tsx
  app/src/components/homepage/hero.tsx
  app/src/components/seo.tsx
  app/src/layouts/app.tsx
  app/src/layouts/auth.tsx
  app/src/layouts/docs.tsx
  app/src/layouts/setup.tsx
  app/src/layouts/website.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/pages/pricing.tsx
Due: yarn --cwd ./app lint --fix --quiet

Fix document title (#46)
  app/pages/_app.tsx
  app/pages/index.tsx
  app/pages/pricing.tsx
  app/src/components/homepage/hero.tsx
  app/src/components/seo.tsx
  app/src/layouts/app.tsx
  app/src/layouts/auth.tsx
  app/src/layouts/docs.tsx
  app/src/layouts/setup.tsx
  app/src/layouts/website.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: misc workflow adjustments
  .github/workflows/main-app.yml
  .github/workflows/main-cron-daily.yml
Due: prettier --write

Misc workflow adjustments (#48)
  .github/workflows/main-app.yml
  .github/workflows/main-cron-daily.yml
Due: prettier --write

feat: add some documentation
  app/.gitignore
  app/package.json
  app/pages/api/account/cleanup.tsx
  app/pages/auth/sign-in.tsx
  app/pages/docs/[...slug].tsx
  app/src/components/markdown.tsx
  app/src/components/mdx/heading.tsx
  app/src/components/mdx/hr.tsx
  app/src/components/mdx/image.tsx
  app/src/components/text.tsx
  app/src/layouts/docs.tsx
  app/src/list-items/regression.tsx
  app/src/sidebars/app/base.tsx
  app/src/theme/index.tsx
  app/src/utils/node/mdx.ts
  docs/contribute/guide.md
  docs/contribute/report-an-issue.md
  docs/cypress/getting-started.md
  docs/faqs.md
  docs/features/comments.md
  docs/features/compare-reports.md
  docs/features/projects.md
  docs/features/reports.md
  docs/features/runs.md
  docs/features/teams.md
  docs/getting-started.md
  docs/integrations/clubhouse.md
  docs/integrations/jira.md
  docs/integrations/slack.md
  docs/integrations/webhooks.md
  docs/integrations/zapier.md
  docs/packages/cli.md
  docs/packages/cypress.md
  docs/packages/node.md
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add more docs
  app/pages/docs/[...slug].tsx
  app/src/components/markdown.tsx
  app/src/list-items/page.tsx
  app/src/theme/index.tsx
  docs/packages/cli.md
  docs/packages/cypress.md
  docs/packages/node.md
  packages/cli/README.md
  packages/node/README.md
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add more docs
  docs/contribute/guide.md
  docs/contribute/report-an-issue.md
  docs/faqs.md
Due: prettier --write

Start adding documentation (#49)
  app/.gitignore
  app/package.json
  app/pages/api/account/cleanup.tsx
  app/pages/auth/sign-in.tsx
  app/pages/docs/[...slug].tsx
  app/src/components/markdown.tsx
  app/src/components/mdx/heading.tsx
  app/src/components/mdx/hr.tsx
  app/src/components/mdx/image.tsx
  app/src/components/text.tsx
  app/src/layouts/docs.tsx
  app/src/list-items/page.tsx
  app/src/list-items/regression.tsx
  app/src/sidebars/app/base.tsx
  app/src/theme/index.tsx
  app/src/utils/node/mdx.ts
  docs/contribute/guide.md
  docs/contribute/report-an-issue.md
  docs/cypress/getting-started.md
  docs/faqs.md
  docs/features/comments.md
  docs/features/compare-reports.md
  docs/features/projects.md
  docs/features/reports.md
  docs/features/runs.md
  docs/features/teams.md
  docs/getting-started.md
  docs/integrations/clubhouse.md
  docs/integrations/jira.md
  docs/integrations/slack.md
  docs/integrations/webhooks.md
  docs/integrations/zapier.md
  packages/cli/README.md
  packages/node/README.md
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

chore: upgrade dependencies
  app/src/components/markdown.tsx
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet

Upgrade dependencies (#50)
  app/src/components/markdown.tsx
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet

chore: upgrade dependencies
  app/package.json
  packages/cli/package.json
  packages/node/package.json
  packages/package.json
  yarn.lock
Due: prettier --write

Upgrade dependencies (#51)
  app/package.json
  packages/cli/package.json
  packages/node/package.json
  packages/package.json
  yarn.lock
Due: prettier --write

feat: add comments setup
  app/package.json
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/src/components/avatar.tsx
  app/src/components/badge.tsx
  app/src/components/comment.tsx
  app/src/components/comments-sidebar.tsx
  app/src/components/markdown.tsx
  app/src/components/mention.tsx
  app/src/components/menu.tsx
  app/src/components/rich-text-input.tsx
  app/src/components/sidebar.tsx
  app/src/components/text-area.tsx
  app/src/hooks/use-auth-user.ts
  app/src/hooks/use-sidebar-state.ts
  app/src/popouts/comments.tsx
  app/src/sidebars/app/index.tsx
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix: misc ux improvements + pull out db handling
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/src/components/comment.tsx
  app/src/components/comments-button.tsx
  app/src/components/dialog.tsx
  app/src/components/rich-text-input.tsx
  app/src/components/sidebar.tsx
  app/src/hooks/use-persisted-state.ts
  app/src/hooks/use-sidebar-state.ts
  app/src/popouts/comments.tsx
  app/src/sidebars/app/comments.tsx
  app/src/theme/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: fix loading state issues + misc adjustments
  app/src/components/comment.tsx
  app/src/components/comments-button.tsx
  app/src/components/dialog.tsx
  app/src/components/sidebar.tsx
  app/src/sidebars/app/comments.tsx
  app/src/theme/index.tsx
Due: yarn --cwd ./app lint --fix --quiet

feat: add edit functionality
  app/src/components/comment.tsx
  app/src/components/rich-text-input.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: add escape to cancel edit
  app/src/components/comment.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/src/components/comment.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/components/comments-button.tsx
  app/src/components/report/actions.tsx
  app/src/sidebars/comments.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: misc fixes and improvements
  app/package.json
  app/pages/api/notifications/create.ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/account/notifications.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/components/report/actions.tsx
  app/src/hooks/use-auth-user.ts
  app/src/list-items/notification.tsx
  app/src/list-items/opportunity.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/comments.tsx
  packages/node/package.json
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

fix
  app/pages/api/notifications/create.ts
  app/src/popouts/notifications.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix
  app/src/components/badge.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/hooks/use-auth-user.ts
  app/src/layouts/app.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/app/base.tsx
Due: yarn --cwd ./app lint --fix --quiet

Add comments setup (#52)
  app/package.json
  app/pages/api/notifications/create.ts
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/account/notifications.tsx
  app/pages/app/[teamId]/projects/[projectId]/index.tsx
  app/pages/app/[teamId]/reports/[reportId].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/components/avatar.tsx
  app/src/components/badge.tsx
  app/src/components/comment.tsx
  app/src/components/comments-button.tsx
  app/src/components/dialog.tsx
  app/src/components/markdown.tsx
  app/src/components/mention.tsx
  app/src/components/menu.tsx
  app/src/components/popout-menu/menu-item.tsx
  app/src/components/report/actions.tsx
  app/src/components/rich-text-input.tsx
  app/src/components/sidebar.tsx
  app/src/components/text-area.tsx
  app/src/hooks/use-auth-user.ts
  app/src/hooks/use-persisted-state.ts
  app/src/hooks/use-sidebar-state.ts
  app/src/layouts/app.tsx
  app/src/list-items/notification.tsx
  app/src/list-items/opportunity.tsx
  app/src/popouts/notifications.tsx
  app/src/sidebars/app/base.tsx
  app/src/sidebars/app/index.tsx
  app/src/sidebars/comments.tsx
  app/src/theme/index.tsx
  packages/node/package.json
  yarn.lock
Due: yarn --cwd ./app lint --fix --quiet, prettier --write

feat: add support for user flow reports
  app/pages/api/runs/[runId]/report.ts
  app/pages/app/[teamId]/reports/[reportId]/[[...step]].tsx
  app/src/components/app-preview.tsx
  app/src/components/report/actions.tsx
  app/src/components/report/details.tsx
  app/src/components/report/overview/budgets.tsx
  app/src/components/report/overview/index.tsx
  app/src/components/report/overview/network.tsx
  app/src/components/report/overview/opportunities.tsx
  app/src/components/report/overview/performance.tsx
  app/src/components/report/overview/scores.tsx
  app/src/components/report/overview/user-timings.tsx
  app/src/components/report/scores.tsx
  app/src/components/score.tsx
  app/src/list-items/report/index.tsx
  packages/node/src/user-flow.ts
  packages/node/src/utils/create-report.ts
  report.html
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet

fix
  app/pages/api/runs/[runId]/report.ts
  app/pages/app/[teamId]/reports/[reportId]/[[...step]].tsx
  app/src/components/app-preview.tsx
  app/src/components/comments-button.tsx
  app/src/components/menu.tsx
  app/src/components/report/compare/details.tsx
  app/src/components/report/details.tsx
  app/src/components/report/overview/budgets.tsx
  app/src/components/report/overview/index.tsx
  app/src/components/report/overview/network.tsx
  app/src/components/report/overview/performance.tsx
  app/src/components/report/overview/user-timings.tsx
  app/src/components/report/scores.tsx
  app/src/components/score.tsx
  app/src/sidebars/app/report.tsx
Due: yarn --cwd ./app lint --fix --quiet

fix: refactor status fields
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/components/app-preview.tsx
  app/src/components/project/actions.tsx
  app/src/components/report/actions.tsx
  app/src/components/report/status.tsx
  app/src/components/status-avatar.tsx
  app/src/list-items/page.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report/compare/index.tsx
  app/src/list-items/report/index.tsx
  app/src/list-items/run.tsx
  report.html
Due: yarn --cwd ./app lint --fix --quiet

Add support for user flow reports (#53)
  app/pages/api/runs/[runId]/report.ts
  app/pages/api/runs/[runId]/stop.ts
  app/pages/api/runs/start.ts
  app/pages/app/[teamId]/reports/[reportId]/[[...step]].tsx
  app/pages/app/[teamId]/runs/[runId].tsx
  app/src/components/app-preview.tsx
  app/src/components/comments-button.tsx
  app/src/components/menu.tsx
  app/src/components/project/actions.tsx
  app/src/components/report/actions.tsx
  app/src/components/report/compare/details.tsx
  app/src/components/report/details.tsx
  app/src/components/report/overview/budgets.tsx
  app/src/components/report/overview/index.tsx
  app/src/components/report/overview/network.tsx
  app/src/components/report/overview/opportunities.tsx
  app/src/components/report/overview/performance.tsx
  app/src/components/report/overview/scores.tsx
  app/src/components/report/overview/user-timings.tsx
  app/src/components/report/scores.tsx
  app/src/components/report/status.tsx
  app/src/components/score.tsx
  app/src/components/status-avatar.tsx
  app/src/list-items/page.tsx
  app/src/list-items/project.tsx
  app/src/list-items/report/compare/index.tsx
  app/src/list-items/report/index.tsx
  app/src/list-items/run.tsx
  app/src/sidebars/app/report.tsx
  packages/node/src/user-flow.ts
  packages/node/src/utils/create-report.ts
  report.html
Due: yarn --cwd ./packages lint --fix --quiet, yarn --cwd ./app lint --fix --quiet
